body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(242, 242, 242);
}
a{
    text-decoration: none;
}
.header{
    background-color: white;
    width: 100%;
    height: 100px;
}
.header_top{
    position: absolute;
    color: #015293;
    font-size: 28px;
    font-weight: bold;
    left: calc(50% - 550px);
    width: 50%;
    margin-top: 5px;
    letter-spacing: 1px;
}
#logo{
    width: 60px;
    float: left;
    margin-top: 17px;
    margin-right: 5px;
}
.nav{
    background-color: #015293;
    height: 80px;
    width: 100%;
}
.menu{
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}
.menu li{
    font-size: 18px;
    color: white;
    display: block;
    float: left;
    padding: 3px 14px;
}
.menu li a{
    display: block;
    color: white;
}
.container{
    background-color: white;
    width:1100px;
    margin: 0 auto;
}
.swiper-container{
    width: 1100px;
    height: 300px;
    padding-top: 30px;
}
.swiper-title{
    background-color: #015293;
    position: absolute;
    height: 24px;
    width: 100%;
    bottom: 0%;
}
.swiper-title p{
    color: snow;
    font-size: 18px;
    margin:0 15px;
}
.column{
    width: 1028px;
    height: 860px;
    margin: 41px auto 0px;
    background-color: white;
}
.column1{
    float: left;
    width: 350px;
    height: 810px;
    border-right: 1px solid #bababa;
}
.column1_1{
    width: 330px;
    padding-top: 10px;
}
.column1_1 ul{
    margin-top: 10px;
    margin-bottom: 25px;
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
}
.column1_1 li{
    padding-left: 10px;
    background: url(../img/icon_10.jpg) no-repeat 0 18px;
}

.column1_biaoti{
    font-size: 18px;
    border-bottom: 1px solid #bababa;
}
.column1_biaoti a{
    color: black;
}
.column1_tiao a{
    color: black;
}
.column2{
    float: left;
    width: 350px;
    height: auto;
    margin-left: 30px
}
.column2_1{
    width: 330px;
    padding-top: 10px;
}
.column2_1 ul{
    margin-top: 10px;
    margin-bottom: 25px;
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
}
.column2_1 li{
    padding-left: 10px;
    background: url(../img/icon_10.jpg) no-repeat 0 18px;
}

.column2_biaoti{
    font-size: 18px;
    border-bottom: 1px solid #bababa;
}
.column2_biaoti a{
    color: black;
}
.column2_tiao a{
    color: black;
}
.column3{
    float: right;
    width: 285px;
    height: 820px;;
    background-color: #f5f5f5;
}
.column3_1{
    width: 250px;
    padding: 10px 13px 10px; 
}
.column3_1 ul{
    margin-top: 20px;
    margin-bottom: 25px;
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
}
.column3_1 li{
    padding-left: 10px;
    background: url(../img/icon_10.jpg) no-repeat 0 18px;
}

.column3_biaoti{
    font-size: 18px;
}
.column3_biaoti a{
    color: black;
}
.column3_tiao a{
    color: black;
    float: left;
}
.column3_tiao img{
    width: 80px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
}
#gaikuang{
    border-bottom: 2px solid #015293;
    margin-top: 0px;
    width: 29%;
}
#gaikuang_anniu{
    width:90%;
    margin-bottom:15px;
    margin-left:15px;
}
#gaikuang_anniu2{
    width:90%;
    margin-bottom:20px;
    margin-left:15px;
}
#hangye{
    border-bottom: 2px solid #015293;
    margin-top: 0px;
    width: 29%;
}
#lianxi{
    border-bottom: 2px solid #015293;
    margin-top: 0px;
    width: 29%;
}
#lianxiwenzi{
    font-size: 16px;
    line-height: 30px;
    margin-left: 30px;
}
#yuan{
    float: left;
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
}
#yuan span {
    margin-left: 10%;
    font-size: 16px;
}
.footer{
    border-top: 8px solid #00558F;
    width: 1028px;
    margin: 0 auto;
    height: 160px;
}
.footer p{
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
#logo2{
    width: 60px;
    margin-left: 47%;
    margin-top: 2%;
}
.base_content{
    background-color: white;
    width: 1100px;
    height: 1000px;
    margin: -0px auto;
}
#weizhi{
    font-size: 12px;
    color: black;
    margin: 20px 20px;
    position: absolute;
}
.base_biaoti{
    font-size: 22px;
    color: black;
    padding-top: 60px;
    border-bottom: 1px solid #bababa;
    width: 640px;
    line-height: 0px;
    margin-left: 60px;
}
.base_list{
    width: 640px;
    margin-left: 60px;
}
.base_column1{
    float: left;
}
.base_list a{
    font-size: 17px;
    color: #000;
    text-decoration: none;
    line-height: 34px;
}
.data{
    padding-left: 14px;
    color: #888888;
    font-size: 14px;
}
.base_list h4{
    margin: 20 0 0 0;
}
.base_list p{
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-size: 12px;
    color: #666;
}
.new_page{
    padding: 50px 0px 36px 14px;
    height: 23px;
    font-size: 12px;
}
.new_page li{
    float: left;
    margin: 0 15px;
}